:root {
	--bs-body-bg: #fff;
	--bs-body-color: #0d6efd;
}
/* background-color: #CCCCCC;
border-color: #bcbcbc; */
body {
	margin: 0;
	color: var(--bs-body-color);
	background-color: var(--bs-body-bg);
}
a {
	text-decoration: none;
}
.productChartPackage {
	width: 1500px;
	height: 400px;
	border: 1px solid green;
	margin:0 1px;
	padding: 1px;
	
}
.productChart {
	border: 1px dotted green;
	margin: 5px 2px;
	padding: 1px;
}
.productChart > li {
	width: 290px;
	margin: 0.3px 0;
 	display: inline-block;
 	padding-top: 5px;
 	/* border: 2px dotted red; */
 	/* overflow : hidden; */
}
.pdtthumbnail {
	margin: 0 auto; 
	padding: 3px;
	/* border: 1px solid red; */		
}
.pdtthumbnail > a > img {
	margin: 0 5px 0 1px ;
	padding: 2px;
	width: 290px;
	
}
.pdtdetail {
	margin: 0 2px;
	padding: 0;
	/* line-height: 10; */
	position: relative;
 	/* display: inline-block; */
 	width: 250px;
 	/* border: 1px solid pink; */
 	
}
.pdtdetail > p {
	margin: 0 2px 0 2px ;
	padding: 2px;
	/* line-height: 10; */
	/* position: relative; */
 	display: inline-block;
 	width: 290px;
 	height: 20px;
	/* border: 1px dotted blue; */
}
.pname > a:link {
 	width: 250px;
	height: 5px;
 	font-family: sans-serif;
 	font-weight: bold;
 	font-size: 14px;
 	color: #000000;
	/* border: 1px solid blue; */
	
}
.pname > a:hover {
 	width: 200px;
 	font-family: sans-serif;
 	font-size: 14px;
	color: cyan;
}
.pcolor > span {
 	margin: 10px 0;
	position: relative;
 	font-family: sans-serif;
	font-size: 14px;
	color: green;
	vertical-align: top;
	/* border: 1px solid green; */
}